body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 128, 0, 0.2);
  pointer-events: none; /* Make the overlay non-interactive */
}

.image-container {
  max-width: 100px; /* Maximum width for the image */
  max-height: 100px; /* Maximum height for the image */
  overflow: hidden; /* Hide overflowing parts of the image */
}

.image-container img {
  width: 100%; /* Make the image fill its container */
  height: auto; /* Maintain the image's aspect ratio */
}
